.main_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.game_article {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.game_img {
    width: 80%;
}

.game_section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .game_about, .game_description, .game_name {
    color: white;
    font-family: 'Fredoka', sans-serif;
}

.game_name {
    font-size: 50px;
}

.game_date {
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    border-radius: 12px;
    font-size: 20px;
    padding: 5px;
    align-self: flex-start;
    margin-left: 120px;
}

.container_about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 120px;
    font-family: 'Fredoka', sans-serif;
    line-height: 25px;
}
